run = ["node", "index.js"]
modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run"

[[workflows.workflow]]
name = "Run"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node basic/a+b.js"

[workflows.workflow.metadata]
outputType = "console"
